{% extends 'public/base.html' %}
{% load static %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">管理收货地址</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="{% url 'sp_user:address_add' %}" class="">
                <i class="am-icon-plus"></i>
            </a>
        </div>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <ul class="address-list">
    {% for address in address_list %}
    <li  {% if address.isDefault %}class="curr"{% endif %}>
            <p>收货人：{{ address.username }}&nbsp;&nbsp;{{ address.phone }}</p>
            <p class="order-add1">收货地址：{{ address.hcity }}{{ address.hproper }}{{ address.harea }}&emsp;{{ address.brief }}</p>
            <hr/>
            <div class="address-cz">
                <label class="am-radio am-warning">
                    <input type="radio" name="radio3" value="{{ address.pk }}" data-am-ucheck {% if address.isDefault %}checked{% endif %}> 设为默认
                </label>
                <a href=""><img src="{% static 'images/bj.png' %}" width="18"/>&nbsp;编辑</a>
                <a href="">删除</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}


{% block footer_js %}
<script>

    $(function () {
        //在所有的radio上绑定点击事件
        $(":radio").on("click",function () {
            //1. 准备数据
            var addr_id = $(this).val();
            {#console.debug(addr_id);#}
            //2. 发送请求
            var data = {
                "addr_id":addr_id,
                "csrfmiddlewaretoken":"{{ csrf_token }}"
            };
            var that = this;
            $.post("{% url 'sp_user:address' %}",data,function(data){
                if(data.error == "0"){
                    //成功
                    //将所有li上的curr类去掉
                    $(".address-list").find("li").removeClass("curr");
                    //将当前li上的curr类加上
                    $(that).parents('li').addClass("curr");
                }else {
                    alert(data.msg);
                    location.reload();
                }
            })
        })
    })
</script>
{% endblock %}